//
// MIXINS - FLEX
//__________________________________________________

@mixin flex{
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction($direction){
  -webkit-flex-direction: $direction;
  flex-direction: $direction;
}
// row | row-reverse | column | column-reverse

@mixin flex-wrap($wrap){
  flex-wrap: ($wrap);
}
// nowrap | wrap | wrap-reverse

@mixin flex-justify($justify){
  justify-content: $justify;
}
// flex-start | flex-end | center | space-between | space-around

@mixin flex-align($align){
  -ms-flex-align: $align;
  -webkit-align-items: $align;
  -webkit-box-align: $align;
  align-items: $align;
}
// flex-start | flex-end | center | baseline | stretch