//
// COMPONENTS - FOOTER
//__________________________________________________
footer{
  width: 100%;
  height: auto;
  float: left;
  padding: 80px 0;
  background-color: $footer-background-color;
  .container{
    position: relative;
    @include flex();
    @include flex-align(center);
    @include flex-justify(center);
  }
  .footer-accent-line{
    width: 100%;
    height: 1px;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    background-color: $footer-icon-color;;
  }
  nav{
    position: relative;
    padding: 0 10px;
    background-color: $footer-background-color;
    @include break-sm{
      padding: 0 20px;
    }
    ul.footer-navigation{
      li{
        padding: 0 10px;
        a{
          width: 50px;
          height: 50px;
          background-color: $footer-icon-color;
          @include border-radius($border-radius-circle);
          &:hover{
            background-color: $footer-icon-hover-color;
          }
          i{
            height: 50px;
            color: $footer-background-color;
            font-size: $font-size-h3;
            line-height: 50px;
          }
        }
      }
    }
  }
}