header{
  width: 100%;
  height: $header-height;
  display: inline-block;
}

.header-content{
  @include flex;
  @include flex-direction(row);
  @include flex-justify(space-between);
  @include flex-align(center);
  @extend .container;
  position: relative;
  padding: 0;
  @include break-sm{
    padding: 0 10px;
  }
  .logo{
    width: 60px;
    height: 60px;
    position: relative;
    float: left;
    background: url(../img/logo/logo.png) no-repeat;
    @include image-2x("../img/logo/logo@2x.png", 60px, 60px);
    .logo-title{
      position: absolute;
      top: 5px;
      left: 70px;
      font-weight: 200;
      white-space: nowrap;
      @include break-sm{

      }
    }
  }
  .mobile-menu-button{
    position: absolute;
    right: 15px;
    margin: 0px 15px 0 0;
    line-height: $header-height;
    font-size: 175%;
    i{
      cursor: pointer;
      color: $font-color-dark;
    }
  }
}

nav{
  width: auto;
  height: $header-height;
  background-color: $body-background-color;
  box-shadow: none;
  line-height: $header-height;
  ul.header-navigation {
    padding: 0;
    list-style: none;
    li {
      @include break-sm{
        display: inline;
        padding: 0 15px;
      }
      a {
        @include break-sm{
          width: 100%;
          height: 100%;
          position: relative;
          padding: 0;
          color: $font-color-dark;
          text-decoration: none;
          @include transition(all $default-easing ease-in-out);
          &:hover{
            color: $primary-color;
            background: none;
            &:before{
              visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
            }
          }
          &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            top: $header-height - 4;
            left: 0;
            background-color: $primary-color;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
          }
        }
      }
    }
  }
}

ul.side-nav{
  li{
    &:hover{
      background-color: rgba($primary-color, 0.4);
    }
  }
}



