//
// COMPONENTS - PROJECT-GRID
//__________________________________________________
.link-group{
  margin: 20px 0;
  text-align: center;
  a{
    padding: 10px 20px;
    color: $font-color-base;
    line-height: 40px;
    cursor: pointer;
    @include break-sm{
      line-height: initial;
    }
    &.active{
      color: $primary-color;
      background: rgba($primary-color, 0.2);
    }
  }
}

.project-item{
  width: 100%;
  max-width: 350px;
  height: auto;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  @include break-sm{
    width: 50%;
    left: auto;
    right: auto;
  }
  @include break-md{
    width: 25%;
  }
  .project-title{
    position: absolute;
    top: 35%;
    right: 0;
    left: 0;
    padding: 10px 0;
    color: $font-color-light;
    text-align: center;
    background-color: rgba($primary-color, 0.7);
    @include break-sm{
      top: 25%;
    }
  }
  img{
    width: 100%;
    height: auto;
  }
  .link-box{
    width: 100%;
    height: 100%;
    position: absolute;
    @include flex();
    @include flex-align(center);
    @include flex-justify(center);
    z-index: 1;
    background: rgba($primary-color-dark, 0.8);
    a{
      padding: 0 15px;
      color: $font-color-light;
      font-size: $font-size-h2;
      border: 2px solid $font-color-light;
      @include border-radius($border-radius-circle);
      @include transform(rotate(45deg));
    }
  }
}