.video{
  width: 100%;
  height: 300px;
  float: left;
  @include flex();
  @include flex-align(center);
  @include flex-justify(center);
  @include flex-direction(column);
  background-size: cover;
  background-image: url('http://placehold.it/1920x600');
  @include break-sm{
    height: 600px;
  }
  .video-title, .video-subtitle{
    margin: 10px 0;
    padding: 0 15px;
    font-weight: 200;
    text-align: center;
  }
  .video-title{
    font-size: $font-size-h2;
    @include break-sm{
      font-size: $font-size-h1;
    }
  }

}